/* home page section */
.about-fixed{
    
    margin-left: -75px;
}
.show_menu{
    
    display: block;
}
.image-post{
    
    width: 200px !important;
    height: 200px !important;
}
/* create post section */
.post-image{
    
    display: none !important;
}
.display_image_div{
    
    display: none;
}
.displayed_image{
    
    width: 150px;
    height: 150px;
}
